<nav class="nav navbar sticky-top navbar-expand-lg navbar-light bg-light" (scroll)="onWindowScroll();">
    <div class="container-fluid d-flex">
        <div  class="me-auto ms-3">
            <fa-icon [icon]="faIcon" class="fa-solid fa-coffee fa-xl" style="--fa-primary-opacity: 0.20">></fa-icon>
            <a class="navbar-brand ms-2" href="#">LE CONG LY</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
                <a class="nav-link" href="#">Contact</a>
                <a class="nav-link" href="./about">About me!</a>
            </div>
        </div>
    </div>
</nav>
